  <!-- Options -->
  <div class="mt-12 text-green-500 font-mono text-2xl p-4 rounded-lg border border-green-500 shadow-2xl max-w-2xl mx-auto">
    
    <h3 class="text-2xl mb-4 flex justify-center">Customize your password</h3>
    <div class="border-t border-green-500 my-4"></div>

    <div class="flex flex-col sm:flex-row gap-6 text-base">

      <!-- Left: Range -->
      <div class="flex flex-col gap-2 flex-1 items-center mt-5 basis-[70%]">
        <label for="length">Password Length </label>
        <div class="flex items-center gap-4 min-w-1/2">
          <input type="number" id="length" (ngModelChange)="generatePassword()" [(ngModel)]="passwordLength" min="4" max="50" class="w-1/2 bg-black border border-green-500 text-green-500 px-2 py-1 rounded "/>
          <input type="range" (ngModelChange)="generatePassword()" [(ngModel)]="passwordLength" min="4" max="50" class="w-full accent-green-500 cursor-pointer"/>
        </div>
      </div>

      <!-- Right: options -->
      <div class="flex flex-col gap-2 flex-1 items-center md:items-start basis-[30%]">
        <label class="flex items-center gap-2">
          <input type="checkbox" (ngModelChange)="uppercase()" [(ngModel)]="withUppercase" class="bg-black border border-green-500 accent-green-500 cursor-pointer">
          <span [ngClass]="withUppercase ? 'text-green-500' : 'text-yellow-400'">
            Uppercase
          </span>
        </label>
        <label class="flex items-center gap-2">
          <input type="checkbox" (ngModelChange)="lowercase()" [(ngModel)]="withLowercase" class="bg-black border border-green-500 accent-green-500 cursor-pointer">
          <span [ngClass]="withLowercase ? 'text-green-500' : 'text-yellow-400'">
            Lowercase
          </span>
        </label>
        <label class="flex items-center gap-2">
          <input type="checkbox" (ngModelChange)="numbers()" [(ngModel)]="withNumbers" class="bg-black border border-green-500 accent-green-500 cursor-pointer">
          <span [ngClass]="withNumbers ? 'text-green-500' : 'text-yellow-400'">
            Numbers
          </span>
        </label>
        <label class="flex items-center gap-2">
          <input type="checkbox" (ngModelChange)="symbols()" [(ngModel)]="withSymbols" class="bg-black border border-green-500 accent-green-500 cursor-pointer">
          <span [ngClass]="withSymbols ? 'text-green-500' : 'text-yellow-400'">
            Symbols
          </span>
        </label>
      </div>
    </div>
  </div>